<!DOCTYPE html>
<html>
    <head>
        <title>Pro Two</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Bienvenue! </h1>
                <h2>Allez vous á 'users/userform' pour s'inscrire ou /users pour voir des utilisateurs!</h2>
            </div>
        </div>
    </body>
</html>