<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ciphE0NCAlD2/N6NUApXAN2dAs/vcSAOTzyE202jJx3oS8n4tAQezRgnlHqcJ59C" crossorigin="anonymous">
    <title>Utilisateurs</title>
</head>
<body>
<div class="proTwo container">
    <div class="jumbotron">
        <h2>Voici tes utilisateurs:</h2>
    </div>
    {% if users %}
        <ol class="list-group">
            {% for user in users %}
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Information personnelle</div>
                    <div class="card-body">
                        <p class="card-text">
                            prenom: {{ user.first_name }}<br>
                            nom: {{ user.last_name }}<br>
                            Email: {{ user.email }}<br>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </ol>
    {% else %}
        <p>Il n'y a pas encore des enregistrements</p>
    {% endif %}
</div>

</body>
</html>